<div class="data-table">
  <div *ngFor="let handlingUnit of handlingUnits"
       class="hanling-unit-container">

    <div class="table-card-wrapper">
      <div class="table-card-header">
        <div class="table-card-header-title">
          Handling Unit
        </div>
        <div class="table-card-table">
          <ngx-datatable
            class="hjb fullscreen expandable"
            [columnMode]="'force'"
            [rows]="handlingUnit.rows"
            [columns]="handlingUnit.columns"
            [rowHeight]="'auto'"
          >
            <ngx-datatable-column name="Pickup At" [prop]="'pickupAt'">
              <!--(change)="updateValue($event, 'pickupAt', rowIndex)"-->
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex"
                           let-value="value">
                <select class="data-table-select">
                  <option
                    *ngFor="let pickupAt of value"
                    value="{{ pickupAt.value }}">
                    Stop {{ pickupAt.label }}
                  </option>
                </select>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="delivery At">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex"
                           let-value="value">
                <select class="data-table-select">
                  <option
                    *ngFor="let deliveryAt of value"
                    value="{{ deliveryAt.value }}">
                    Stop {{ deliveryAt.label }}
                  </option>
                </select>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column
              name="handlingUnit"
              [width]="300"
            >
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex"
                           let-value="value">
                <select class="data-table-select">
                  <option value="{{ value }}" selected>{{ value }}</option>
                </select>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="count"></ngx-datatable-column>
            <ngx-datatable-column name="weight">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex"
                           let-value="value">
                <div class="split-cells" *ngIf="value.label">
                  <div>{{ value.label }}</div>
                  <div>
                    <select class="data-table-select" [value]="value.unit">
                      <option
                        *ngFor="let unit of weightUnits"
                        value="{{ unit.value }}">
                        {{ unit.label }}
                      </option>
                    </select>
                  </div>
                </div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="volume">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex"
                           let-value="value">
                <div class="split-cells" *ngIf="value.label">
                  <div>{{ value.label }}</div>
                  <div>
                    <select class="data-table-select" [value]="value.unit">
                      <option
                        *ngFor="let unit of volumeUnits"
                        value="{{ unit.value }}">
                        {{ unit.label }}
                      </option>
                    </select>
                  </div>
                </div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="length">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex"
                           let-value="value">
                <div class="split-cells" *ngIf="value.label">
                  <div>{{ value.label }}</div>
                  <div>
                    <select class="data-table-select" [value]="value.unit">
                      <option
                        *ngFor="let unit of lengthUnits"
                        value="{{ unit.value }}">
                        {{ unit.label }}
                      </option>
                    </select>
                  </div>
                </div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="width"></ngx-datatable-column>
            <ngx-datatable-column name="height"></ngx-datatable-column>
            <ngx-datatable-column name="density">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex"
                           let-value="value">
                <div class="split-cells" *ngIf="value.label">
                  <div>{{ value.label }}</div>
                  <div>
                    <select class="data-table-select" [value]="value.unit">
                      <option
                        *ngFor="let unit of densityUnits"
                        value="{{ unit.value }}">
                        {{ unit.label }}
                      </option>
                    </select>
                  </div>
                </div>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
    <div *ngIf="handlingUnit.stopItems"
         class="table-card-wrapper table-card-wrapper-items">
      <div class="table-card-header-title">
        Items
      </div>
      <div class="table-card-table">
        <ngx-datatable
          class="hjb fullscreen expandable items"
          [columnMode]="'force'"
          [rows]="handlingUnit.stopItems?.rows"
        >
          <ngx-datatable-column [width]="150">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex"
                         let-row="row" let-value="value">
              <button>co</button>
              <button>co</button>
              <button>co</button>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Item Description or NMFC" [prop]="'description'" [width]="400"></ngx-datatable-column>
          <ngx-datatable-column name="Reference" [prop]="'reference'"></ngx-datatable-column>
          <ngx-datatable-column name="Reference Type" [prop]="'referenceType'">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex"
                         let-value="value">
              <select class="data-table-select" [value]="value">
                <option
                  *ngFor="let referenceType of referenceTypes"
                  value="{{ referenceType.value }}">
                  {{ referenceType.label }}
                </option>
              </select>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Package Type" [prop]="'packageType'">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex"
                         let-value="value">
              <select class="data-table-select" [value]="value">
                <option
                  *ngFor="let packageType of packageTypes"
                  value="{{ packageType.value }}">
                  {{ packageType.label }}
                </option>
              </select>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Count" [prop]="'count'"></ngx-datatable-column>
          <ngx-datatable-column name="Weight" [prop]="'weight'">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex"
                         let-value="value">
              <div class="split-cells" *ngIf="value.label">
                <div>{{ value.label }}</div>
                <div>
                  <select class="data-table-select" [value]="value.unit">
                    <option
                      *ngFor="let unit of weightUnits"
                      value="{{ unit.value }}">
                      {{ unit.label }}
                    </option>
                  </select>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Volume" [prop]="'volume'">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex"
                         let-value="value">
              <div class="split-cells" *ngIf="value.label">
                <div>{{ value.label }}</div>
                <div>
                  <select class="data-table-select" [value]="value.unit">
                    <option
                      *ngFor="let unit of volumeUnits"
                      value="{{ unit.value }}">
                      {{ unit.label }}
                    </option>
                  </select>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Length" [prop]="'length'">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex"
                         let-value="value">
              <div class="split-cells" *ngIf="value.label">
                <div>{{ value.label }}</div>
                <div>
                  <select class="data-table-select" [value]="value.unit">
                    <option
                      *ngFor="let unit of lengthUnits"
                      value="{{ unit.value }}">
                      {{ unit.label }}
                    </option>
                  </select>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Width" [prop]="'width'"></ngx-datatable-column>
          <ngx-datatable-column name="Density" [prop]="'density'">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex"
                         let-value="value">
              <div class="split-cells" *ngIf="value.label">
                <div>{{ value.label }}</div>
                <div>
                  <select class="data-table-select" [value]="value.unit">
                    <option
                      *ngFor="let unit of densityUnits"
                      value="{{ unit.value }}">
                      {{ unit.label }}
                    </option>
                  </select>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>

  </div>
</div>
